<!DOCTYPE html>
<htmlt lang="en">
	<head>
		<title>Catalog App</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="row-top">
		     
		    <a href="{{url_for('showCategories')}}"><h1>Catalog App</h1></a>
		    <div class="login" ><a href="{{url_for('disconnect')}}">Logout </a></div>
		    
		</div>


		<div class="row-down">
			<div class="row-down-center">	
				<div class="row-down-center-col">
					<h2>Categories</h2>
					{% for category in categories %}
					<ul>
						<li><a href = "{{url_for('showItems', category_id = category.id)}}"> {{category.name}} </a></li> 
					</ul> 
					{% endfor %} 
				</div>
				
				<div class="vl"> </div>
					
				<div class="row-down-center-col">
					<div class="add-item">
						<a href="{{url_for('newItem')}}">
							<button class="btn btn-default" id="new-item">
								Add Item
							</button>
						</a>
					</div>
					<h2>{{category.name}}({{number}} items) </h2>
					{% for item in items %}
					<ul>
						<li> <a href = "{{url_for('showItemDescription', category_id = category.id, item_id =item.id)}}">{{item.title}}</a></li>
					</ul> 
					{% endfor %}
				</div>
			</div>
		</div>
	
	</body>
</html>
