<!DOCTYPE html>
<htmlt lang="en">
	<head>
		<title>Catalog App</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="row-top">
		     
		    <a href="{{url_for('showCategories')}}"><h1>Catalog App</h1></a>
		    <div class="login" ><a href="{{url_for('showLogin')}}">Login </a></div>
		    
		</div>


		<div class="row-down">
			<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
                 {% if messages %}
          
                     <ul>
                     {% for message in messages %}
                         <li> <strong> {{ message }} </strong> </li>
                     {% endfor %}
                     </ul>
                 {% endif %}
              {% endwith %}
            </div>
			<div class="row-down-center">	
				<div class="row-down-center-col">
					<h2>Categories</h2>
					{% for category in categories %}
					<ul>
						<li><a href = "{{url_for('showItems', category_id = category.id)}}"> {{category.name}} </a></li> 
					</ul> 
					{% endfor %} 
				</div>
				
				<div class="vl"> </div>
					
				<div class="row-down-center-col">
					<h2> Latest Items </h2>
					{% for item in last_items %}
					
					
					<ul>
						<li> <a href = "{{url_for('showItemDescription', category_id = item.category_id, item_id =item.id)}}">{{item.title}}</a> <span>({{ session.query(Category).filter_by(id=item.category_id).one().name }})</span> </li>
					</ul> 
					{% endfor %}
					<div class="json">
						<a href="{{url_for('catalogJSON')}}">
							<button class="btn btn-default" id="json">
								JSON format
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>
